*{
    margin: 0px;
    padding: 0px;
}
    body{
    background-color: rgb(0, 162, 255);
    margin: 0;
    overflow-x: hidden;
}
.road{
    position: absolute;
    margin-top: 700px;
}
.road2{
    position: absolute;
    margin-top: 700px;
    margin-left: 895px;
}
.road3{
    position: absolute;
    margin-top: 700px;
    margin-left: 1790px;
    /* overflow-x: hidden; */
}
#king{
    position: absolute;
    margin-top: 520px;
    margin-left: 0;
}
#king_speak1{
    position: absolute;
    margin-left: 730px;
    margin-top: 380px;
    width: 15rem;
    visibility: hidden;
}
#openG{
    position: absolute;
    margin-left: 750px;
    margin-top: 430px;
    visibility: hidden;
}
#sleepy1{
    position: absolute;
    margin-left: 1000px;
    margin-top: 730px;
}
#sleepy2{
    position: absolute;
    margin-left: 910px;
    margin-top: 650px;
}