*{
    margin: 0px;
    padding: 0px;
}
#bg{
    position: absolute;
    width: 95vw;
    height: 95vh;
}
body{
    background-color: rgb(52, 167, 46);
    margin: 0;
    overflow-x: hidden;
}
button{
    z-index: 2;
    position: absolute;
    width: 200px;
    height: 40px;
    font-size: 20px;
}
.road{
    position: absolute;
    margin-top: 700px;
}
.road2{
    position: absolute;
    margin-top: 700px;
    margin-left: 895px;
}
.road3{
    visibility: hidden;
    position: absolute;
    margin-top: 700px;
    margin-left: 1790px;
    /* overflow-x: hidden; */
}
#king{
    z-index: 1;
    position: absolute;
    margin-top: 520px;
    margin-left: 0;
}
#king_speak1{
    position: absolute;
    margin-left: 730px;
    margin-top: 380px;
    width: 15rem;
    visibility: hidden;
}
#openG{
    position: absolute;
    margin-left: 750px;
    margin-top: 430px;
    visibility: hidden;
}
#sleepy1{
    position: absolute;
    margin-left: 1000px;
    margin-top: 730px;
}
#sleepy2{
    position: absolute;
    margin-left: 910px;
    margin-top: 650px;
}
#king_speak2{
    position: absolute;
    width: 20%;
    margin-left: 660px;
    margin-top: 210px;
    visibility: hidden;
}
#king_shout{
    position: absolute;
    width: 15%;
    margin-left: 720px;
    margin-top: 260px;
    visibility: hidden;
}
#gates{
    position: absolute;
    width: 13%;
    margin-left: 750px;
    margin-top: 350px;
    visibility: hidden;
}
#exclamation1{
    position: absolute;
    width: 45px;
    margin-left: 1085px;
    margin-top: 560px;
    visibility: hidden;
}
#exclamation2{
    position: absolute;
    width: 45px;
    margin-left: 1175px;
    margin-top: 640px;
    visibility: hidden;
}
#shocked1{
    position: absolute;
    margin-left: 910px;
    margin-top: 650px;
    visibility: hidden;
}
#shocked2{
    position: absolute;
    margin-left: 1000px;
    margin-top: 730px;
    visibility: hidden;
}
#gate_closed{
    position: absolute;
    margin-left: 1200px;
    margin-top: 550px;
    visibility: visible;
}
#gate_open1{
    z-index: 0;
    position: absolute;
    margin-left: 1207px;
    margin-top: 500px;
    visibility: hidden;
}
#gate_open2{
    z-index: 2;
    position: absolute;
    margin-left: 1295px;
    margin-top: 590px;
    visibility: hidden;
}
#guard1{
    z-index: 0;
    position: absolute;
    margin-left: 1000px;
    margin-top: 580px;
    visibility: hidden;
}
#guard2{
    z-index: 2;
    position: absolute;
    margin-left: 1080px;
    margin-top: 650px;
    visibility: hidden;
}
#guard_flipped1{
    position: absolute;
    margin-left: 1000px;
    margin-top: 580px;
    visibility: hidden;
}
#guard_flipped2{
    position: absolute;
    margin-left: 1080px;
    margin-top: 650px;
    visibility: hidden;
}
#guards_speak{
    position: absolute;
    margin-left: 1000px;
    margin-top: 430px;
    visibility: hidden;
}
#yes_sir{
    position: absolute;
    width: 8rem;
    margin-left: 1020px;
    margin-top: 475px;
    visibility: hidden;
}